body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

main {
    background-image: url('https://i.ibb.co/fCGgSKn/yoga-background-img.png');
    background-size: cover;
    margin-top: 50px;
    padding: 60px;

}
body {
  font-family: Arial, sans-serif;
  background-color: none;
  color: #fff;
}

body {
  padding-top: 60px;
  margin-top: 60px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}
@media screen and (max-width: 768px) {
    body {
        padding-top: 100px;
        margin-top: 100px;
    }
}
.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


#logo {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 52px;
}

#logo:hover {
  color: #bf879e;
}

.no-underline {
  text-decoration: none;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav ul li a:hover {
  color: #bf879e;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}
.dropdown-content {
    display: none;
    top: 135px; 
    left: 0;
    right: 0;
    position: absolute;
    padding-top: 30px;
    background-color: #333;
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    
    text-decoration: none;
    display: block;
    color: #f9f9f9;
    width: 100%;
}

.dropdown-content .section a {
    padding: 20px 60px;
    text-decoration: none;
    display: block;
    color: #f9f9f9;
}

.dropdown-content .section a:hover {
    background-color: #BF879E;
    color: #fff;
}


.dropdown:hover .dropdown-content {
    display: block;
}
.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  background-color: rgba(51, 51, 51, 0.85);
}

h5 {
  color: #fff;
  background-color: none;
}

h3 a {
  color: #fff;
  background-color: none;
}

h3 a:hover {
  color: #bf879e;
}

p a {
  color: #fff;
  background-color: none;
}

p a:hover {
  color: #bf879e;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}
