/* Reset some default styles */
body,
h1,
h2,
p{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Set a background image for the main content */
main {
    background-image: url('https://i.ibb.co/fCGgSKn/yoga-background-img.png');
    background-size: cover;
    margin-top: 50px;
    padding: 60px;

}
.no-underline {
    text-decoration: none;
}
/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    z-index: 100;
    /* Ensure header is on top of other content */
}
.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#logo {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 52px;
}
#logo:hover {
    color: #BF879E;
}

/* Navigation styles */
nav {
    text-align: center;
}

nav ul {
    padding: 0;
    
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #BF879E;
}

/* Dropdown menu styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.toggle {
    display: none;
    color: #fff;
}
.toggle:hover {
    color: #BF879E;
}
.toggle-label a {
    font-size: 36px;
}

label {
    font-size: 30px;
}

.dropdown-content {
    display: none;
    top: 130px;
    position: fixed;
    left: 0;
    right: 0;
    position: absolute;
    background-color: #333;
    z-index: 1;
    text-align: center;
    width: 100%;
}
.dropdown-content li {
    padding: 10px;
    text-align: center;

}

.toggle:checked+.toggle-label+.dropdown-content {
    display: block;
}

/* Submenu styles */
.submenu {
        display: none;
        position:fixed;
        left: 0;
        right: 0;
        background-color: #333;
        text-align: center;
        width: 100%;
        padding: 15px;
    }


.dropdown:hover .submenu {
    display: block;
}
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

body {
    padding-top: 60px;
    margin-top: 60px;
}
/* Hero section styles */
.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}

.hero h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Button styles */
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #BF879E;
}

/* Container styles */
.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.85);
    color: #fff;
}
h2 a {
    color: #fff;
    background-color: none;
}

h2 a:hover {
    color: #BF879E;
}

h3 a:hover {
    color: #BF879E;
}

h3 a {
    color: #fff;
    background-color: none;
}

p a {
    color: #fff;
    background-color: none;
}

p a:hover {
    color: #bf879e;
}
/* Footer styles */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 100px;
        margin-top: 100px;
    }
}